<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 捉妖工具</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140911287-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-140911287-1');
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">捉妖工具</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="dropdown" asp-area="" asp-controller="Home" asp-action="Index">已知妖灵</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown" asp-area="" asp-controller="Home" asp-action="Setting">全局设置</a>
                        </li>

                    </ul>
                    <div class="nav navbar-nav navbar-right">
                    </div>
                </div>
            </div>

        </nav>

    </header>
    <div class="container">
        <div class="row">
            <img class="col-xs-6 col-sm-6 col-md-6 col-lg-6" src="~/image/weixinsearch.png" />
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                微信小程序"捉妖工具"的网页版，若要在移动设备上使用，请在微信上搜索并使用小程序版<br /><br />
                <span style="color:#ff0000;">坐标绝对是对的，首次使用请先进入全局设置进行配置，每款软件的坐标系和格式都不同，配置完成并刷新后生效，可以直接点击复制获取坐标</span><br /><br />
                如有问题请加QQ群：7672057
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - 捉妖工具
        </div>
    </footer>



    @RenderSection("Scripts", required: false)
</body>
</html>
