@{
    ViewData["Title"] = "已知妖灵";
}

<link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
<script src="~/js/LocationTrans.js"></script>
<script src="~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<style type="text/css">
    .pagination-info {
        display: none;
    }

    #qqmap {
        min-width: 600px;
        min-height: 767px;
    }
</style>

<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=XZFBZ-MM6EX-UBY47-TQA4M-CGOOK-FVFGJ"></script>
<script>
    var qqMap;
    window.onload = function () {
        //初始化地图函数  自定义函数名init
        function init() {
            var center = new qq.maps.LatLng(39.916527, 116.397128);
            qqMap = new qq.maps.Map(document.getElementById('qqmap'), {
                center: center,
                zoom: 5
            });
        }
        init();
    }
    function searchSplit() {
        //spriteType = mapping[e.options[e.options.selectedIndex].value];
        //$("#table").bootstrapTable("refresh", {
        //    url: '/api/sprites/get/type/' + spriteType
        //})
    }
</script>

<div id="toolbar" class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <select class="form-control" onchange="selectType(this)">
            <option>稀有</option>
            <option>巢穴</option>
            <option>地域</option>
            <option>锟</option>
            <option>三魂七魄</option>
        </select>
    </div>
    @*<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 input-group">
        <input type="text" class="form-control" placeholder="单个妖灵搜索，默认按类型搜索">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="searchSplit">搜索</button>
        </span>
    </div>*@
</div>

<div>
    <table id="table" class="table table-hover table-responsive"></table>
</div>
<div id="qqmap"></div>
<script>
    var spriteType = "Rare";
    var mapping = {
        "稀有": "Rare",
        "巢穴": "Den",
        "地域": "Region",
        "锟": "Kun",
        "三魂七魄": "Ghost"
    }
    function selectType(e) {
        spriteType = mapping[e.options[e.options.selectedIndex].value];
        $("#table").bootstrapTable("refresh", {
            url: '/api/sprites/get/type/' + spriteType
        })
    }
    
    function formatTime(timeStr) {
        var time = Number(timeStr);

        var hour = parseInt((time / 3600).toString());
        time = time % 3600;
        var minute = parseInt((time / 60).toString());
        time = time % 60;
        var second = parseInt(time.toString());

        return ([hour, minute, second]).map(function (n) {
            var num = n.toString();
            return num[1] ? num : '0' + num;
        }).join(':');
    }

    function getLocation(coordinates, longitude, latitude) {
        switch (coordinates) {
            case "GCJ02":
                return [longitude, latitude];
            case "BD09":
                return LocationTrans.gcj02tobd09(longitude, latitude);
            case "WGS84":
                return LocationTrans.gcj02towgs84(longitude, latitude);
        }
    }

    function copyLocation(e, latitude, longitude) {
        var latitude = latitude / 1000000;
        var longitude = longitude / 1000000;
        var config = Cookies.getJSON("config");
        var splitsign = ",", frontLat = config.frontLat == "true", coordinates = config.coordinates || "GCJ02";
        if (config.splitsign == "space") {
            splitsign = " ";
        }
        var location = getLocation(coordinates, longitude, latitude);
        var text = "";
        if (frontLat) {
            text = location[0] + splitsign + location[1];
        } else {
            text = location[1] + splitsign + location[0];
        }
        var clipboard = new ClipboardJS(e, {
            text: function () {
                return text
            }
        });
        e.click();
        Toast("复制成功", 500);
    }

    var columnsArray = [
        {
            "title": "名称",
            "field": "headimage",
            switchable: true,
            sortable: false,
            formatter: function (value, row, index) {   //主要配置在这里
                //var path = "https://hy.gwgo.qq.com/sync/pet/" + value.headimage;
                var result = "<img style='width: 40px; height: 40px;' src='" + value + "'>" + row.name + "</img>";
                return result;
            }
        },
        {
            "title": "纬度",
            "field": "latitude",
            switchable: true,
            sortable: false,
            formatter: function (value, row, index) {   //主要配置在这里
                return value / 1000000;
            }
        },
        {
            "title": "经度",
            "field": "longtitude",
            switchable: true,
            sortable: false,
            formatter: function (value, row, index) {   //主要配置在这里
                return value / 1000000;
            }
        },
        {
            "title": "剩余时间",
            "field": "lefttime",
            switchable: true,
            sortable: false,
            formatter: function (value, row, index) {
                var now = new Date().getTime() / 1000;
                return formatTime(Number(row["gentime"]) + Number(row["lifetime"] - now));
            }
        },
        {
            "title": "复制",
            "field": "copy",
            sortable: false,
            formatter: function (value, row, index) {
                var button = "<button onclick='copyLocation(this, " + row["latitude"] + "," + row["longtitude"] + ");'>复制</button>"
                return button;
            },
            align: 'center'
        }];

    function queryParams(params) {
        var args = $.param({
            isWeb: true,
            currentPage: params.offset / params.limit,
            pageSize: params.limit
        })

        return args;
    }
    var markersArray = []

    function clearOverlays() {
        if (markersArray) {
            for (i in markersArray) {
                markersArray[i].setMap(null);
            }
        }
    }
    $('#table').bootstrapTable('destroy').bootstrapTable({
        url: '/api/sprites/get/type/' + spriteType,
        singleSelect: true,
        clickToSelect: true,
        striped: true,
        sidePagination: 'server',
        ajaxOptions: {
            xhrFields: { 
                withCredentials: true
            },
            crossDomain: true
        },
        queryParams: queryParams,
        pageSize: 10,
        pageNumber: 1,
        pageList: "[10, 25, 50, 100, 200]",
        showRefresh: true,
        showColumns: true,
        pagination: true,
        columns: columnsArray,
        responseHandler: function (res) {
            var rows = res.data.sprites;
            clearOverlays();
            for (var sprite of rows) {
                var lat = sprite.latitude / 1000000;
                var lon = sprite.longtitude / 1000000;
                var center = new qq.maps.LatLng(lat, lon);
                var marker = new qq.maps.Marker({
                    position: center,
                    map: qqMap
                });
                var anchor = new qq.maps.Point(0, 39),
                    scaleSize = new qq.maps.Size(40, 40),
                    origin = new qq.maps.Point(0, 0),
                    markerIcon = new qq.maps.MarkerImage(
                        sprite.headimage, null, null, null,
                        scaleSize
                    );
                marker.setIcon(markerIcon);
                qq.maps.event.addListener(marker, 'click', function (e) {
                    copyLocation(e.event.target, e.latLng.lat * 1000000, e.latLng.lng * 1000000);
                });
                markersArray.push(marker);
            }

            return {
                "total": res.data.total_page * rows.length,
                "rows": rows
            };
        }
    });
</script>